@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* @layer utilities {
  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 20; 
  }
  .sticky-left {
    position: sticky;
    left: 0;
    
    z-index: 10; 
  }
  .sticky-corner {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 30; 
  }
}

.header-corner {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  z-index: 30;
}

.column-header {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  z-index: 20;
  top: 0;
}

.row-header {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  z-index: 10;
  
}

.data-cell {
  border: 1px solid #ccc;
  background-color: white;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

[dir="rtl"] .cursor-col-resize {
  cursor: ew-resize;
}


